$font-primary: "Josefin Sans", sans-serif;
$font-w-400: 400;
$font-w-700: 700;

$color-primary: hsl(220, 98%, 61%);
$gradient-primary: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

$box-shadow1: 0px 0px 31px -16px rgba(0, 0, 0, 0.75);

/* Ligh Color */


$color-vlg: hsl(0, 0%, 98%);
$color-vlgb: hsl(236, 33%, 92%);
$color-lgb: hsl(233, 11%, 84%);
$color-vgb: hsl(236, 9%, 61%);
$color-vdgb: hsl(235, 19%, 35%);

/* Dark Color */


$d--color-vdb: hsl(235, 21%, 11%);
$d--color-vddb: hsl(235, 24%, 19%);
$d--color-lgb: hsl(234, 39%, 85%);
$d--color-lgb-h: hsl(236, 33%, 92%);
$d--color-dgb: hsl(234, 11%, 52%);
$d--color-vdgv: hsl(233, 14%, 35%);
